body {
    background-color: #90ab85;
}
div{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 21%;
}
nav a{
    font-family: 'Belanosima', sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    margin-left: 30px;
    transition: .2s ease-in-out;
    
}
nav a:hover{
    font-size: 1.2em;
    color: #8d85ab;
}
.input {
    padding: 5px;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
    font-size: 18px;
    transition: width 0.3s;
    font-family: Consolas,monaco,monospace;
  }
  
  .input:focus {
    outline: 1px solid black;
    box-shadow: none;
    width: 230px;
  }
  
  .input::placeholder {
    color: black;
  }